html {
  min-width: 490px;
  height: 100%;
   overflow-x: hidden;
}

body{
   height: 100%;
   overflow-x: hidden;  
}

.navbar{
  position:sticky;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center,rgba(255, 200, 0, 0.307),rgba(0, 0, 255, 0.465),rgba(128, 0, 75, 0.501));
  padding: 10px;
  margin-bottom: 10px;

}
.menu{
  padding: 6px;
}
#menu{
  display: flex;
  margin: 0 0 0 auto;
  padding: 2px;
  color: #f6cd0459;
  font-size: 18px;
  
}
#header-logo{
  color: gold;
  font-size: 40px;
 
}
video {
  object-fit: cover;
  width: 100%;
  min-height:1200px;
  min-width: 500px;
  max-height: 660px;
  position:absolute;
  top: 0;
  left: 0;
}
#background {
  position: fixed;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: brightness(1.2);
  z-index: -2;
}


a:link {
  color: #f9faf8;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(219, 211, 233);
  background-color: transparent;
  text-decoration: underline;
}

#para-container{
  flex-wrap: wrap;
  padding: 5px;
  color:#f9faf8;
  min-height: 50em;
  background: rgba(179, 17, 17, 0.336);
  margin: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 30em;
}
h2{
  color: rgba(72, 62, 181, 0.636);
  text-align: center;
  height: 5rem;
}
#greeting{
 margin: 5px;
 padding: 8px;
 height: 12rem;
 min-height: 18rem;
}
#info-container{
  margin: 5px;
 padding: 8px;
}

p{
color: rgb(80, 80, 132);
}
section img{
  width: 10em;
  margin-left: 42%;
  margin-right: 50%;
}
.team{
  border: 3px solid seashell;
  margin: 5px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  padding: 20px;
}
footer{
  display: flex;
  justify-content: center;
  background: rgba(50, 50, 93, 0.191);
  color: #2e1d6d;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}